<% if (loggedIn) { %>
<div>
    <div id="login_title">
        <div id="login_title_title">
            <h2>Message</h2>
        </div>
    </div>
    <div id="login_contents">
        <form id="create_form" action="/<%= category._id %>/<%= thread._id %>/create" method="POST">
            <label>Message</label>
            <textarea id="content" type="text" name="content" value="" required autofocus>
            </textarea><br/>
            <input type="hidden" name="userId" placeholder="UserId" value="<%= currentUser._id %>">
            <input type="hidden" name="userName" placeholder="UserName" value="<%= currentUser.name %>">
            <button id="open_dialog" type="button">送信</button>
        </form>
    </div>
    <div id="login_under">
    </div>
    <dialog id="dialog">
        投稿しますか？
        <menu>
            <button value="cancel" id="cancel">Cancel</button>
            <button value="default" id="ok">Ok</button>
        </menu>
    </dialog>
</div>
<% } %>
<script type="text/javascript" src="/js/messageNew.js"></script>
